<!-- header-->
<header class="page-header">
    <h1>Ma vidéothèque <small>{{MoviesCtrl.movies.length}} films</small>
    </h1>
</header>

<!-- barre d'actions -->
<section class="well form-inline">
    <input class="span5" type="text" ng-model="MoviesCtrl.search" placeholder="Rechercher">
    <section class="pull-right">
        <button class="btn btn-success" ng-click="MoviesCtrl.toogleView()"><i ng-class="MoviesCtrl.tableViewIcon"></i></button>
        <button class="btn btn-info" ng-click="MoviesCtrl.tri = 'releaseYear'; MoviesCtrl.reverse = !MoviesCtrl.reverse">Trier par année</button>
        <button class="btn btn-info" ng-click="MoviesCtrl.tri = 'title'; MoviesCtrl.reverse = !MoviesCtrl.reverse">Trier par titre</button>
    </section>
</section>


<!-- liste des films -->
<div ng-switch on="MoviesCtrl.tableView" >
<ul class="thumbnails" ng-switch-when="false">
    <li ng-repeat="movie in MoviesCtrl.movies | orderBy:MoviesCtrl.tri:MoviesCtrl.reverse | filter : MoviesCtrl.search " class="span12">
        <img ng-src="{{movie.poster | poster}}" class="span2">
        <div class="caption">
            <h3>{{movie.title | uppercase}}
                <button class="btn btn-danger" ng-click="MoviesCtrl.deleteMovie($index)"><i class="icon-trash icon-white"></i></button>
                <a class="btn btn-info" href="#/movies/edit/{{movie.id}}"><i class="icon-edit icon-white"></i></a>
            </h3>
            <p><b>Année de sortie : </b>{{movie.releaseYear}}</p>
            <p><b>Réalisateur : </b>{{movie.directors}}</p>
            <p><b>Acteurs : </b>{{movie.actors}}</p>
            <p><b>Synopsis : </b>{{movie.synopsis}}</p>
            <p><b>Note : </b>{{movie.rate | stars}}</p>
        </div>
    </li>
</ul>
<table class="table table-striped" ng-switch-default>
    <thead>
    <tr>
        <th>#</th>
        <th>Titre</th>
        <th>Réalisateur</th>
        <th>Année de sortie</th>
        <th>Note</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="movie in MoviesCtrl.movies | orderBy:MoviesCtrl.tri:MoviesCtrl.reverse | filter : MoviesCtrl.search ">
        <td>{{$index + 1}}</td>
        <td>{{movie.title | uppercase}}</td>
        <td>{{movie.directors}}</td>
        <td>{{movie.releaseYear}}</td>
        <td>{{movie.rate | stars}}</td>
    </tr>
    </tbody>
</table>
</div>